body{
    font-family: 'Gowun Dodum', sans-serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: darkslategrey;
}
.name-highlight{
    color: tomato;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-weidth{
    width: 40%;
    float: left;
    margin-left:5%;

}
.half-weidth img{
     width: 100%;
}
section{
    height: 545px;
    padding-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(30deg,lightgreen, seagreen);
    padding: 10px 20px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:  right;

}
.single-exprince{
    background-color: white;
    box-shadow: 10px 10px 40px seagreen;
    border-radius: 10px;
    height: 60%;
    padding: 10px;

}
.exprience{
    
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position : left;
}
#full-hipen{

    border-left: 5px solid;
    border-image: linear-gradient(180deg, darkblue, salmon);
    border-image-slice :  1;


}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightgreen, tomato);
    border-image-slice :  1;
}
footer{
    text-align: center;
}